<!DOCTYPE html>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Overview Tab -->
  <ion-tab title="总览" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/home/overview">
    <ion-nav-view name="home-overview"></ion-nav-view>
  </ion-tab>

  <!-- Dispatch Tab -->
  <ion-tab title="调度" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/home/dispatch">
    <ion-nav-view name="home-dispatch"></ion-nav-view>
  </ion-tab>

  <!-- Product Tab -->
  <ion-tab title="商品" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/home/product">
    <ion-nav-view name="home-product"></ion-nav-view>
  </ion-tab>

  <!-- Warehouse Tab -->
  <ion-tab title="仓库" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/home/warehouse">
    <ion-nav-view name="home-warehouse"></ion-nav-view>
  </ion-tab>

</ion-tabs>
